@using MyCoreApp.ViewModels;
@{
    ViewData["Title"] = "File Uploader";
}
@model UploadFileViewModel


<div class="container1">
</div>

<div class="block-container">
    <div class="block">
        <form asp-controller="Home" asp-action="UploadFiles" method="post" enctype="multipart/form-data">
            <h3>Шифрування файлів</h3>
            <div class="container1">
                @ViewBag.Message
            </div>
            <label for="Key">Введіть ключ доступу:</label>
            <input type="text" asp-for="Key" />
            <div class="container1" >
                <label asp-for="Uploads" ></label>
                <input asp-for="Uploads"  onchange="displayNames(this, 'names')" />
                <ul id="names" ></ul>
                <span class="text-center" asp-validation-for="Uploads"></span>
            </div>
            @Html.AntiForgeryToken()
            <button type="submit" class="closing-button">Шифрувати</button>
        </form>
    </div>
    @* <input type="password" id="password" name="password" /> *@
    @* <button type="button" onclick="submitForm()">Отправить</button> *@
    <div class="block">
       
            <img src="~/images/shif.gif" alt="Мал1">
   </div>
</div>

<div class="container1">
    
</div>
<div class="block1">
    <section>
        <div>
            <div>
                <div>
                    <p><strong>Шифрування</strong> — це метод перетворення даних, щоб їх могли читати 
                        лише авторизовані особи. У процесі шифрування відкритий текст 
                        перетворюється в зашифрований за допомогою криптографічного ключа. 
                        Криптографічний ключ — це набір відомих математичних величин, погоджених 
                        як відправником, так і одержувачем.</p>
                    <p><strong>Дешифрування</strong>, або перетворення зашифрованих даних, виконується будь-якою 
                        особою, що має відповідний ключ. Саме тому фахівці з криптографії постійно 
                        займаються розробкою більш витончених і складних ключів. У більш безпечному 
                        шифруванні використовуються ключі високого рівня складності, тому хакери
                        визнають процес вичерпного дешифрування (також відомого як метод «грубої 
                        сили») функціонально неможливим.</p>
                    <p>Дані можуть бути зашифровані як під час зберігання, так і під час передачі. 
                        Двома основними видами шифрування є симетричне шифрування та асиметричне 
                        шифрування.</p>
                    <ul>
                        <li>У симетричному шифруванні використовується лише один ключ, і всі 
                            сторони користуються одним і тим самим секретним ключом.</li>
                        <li>В асиметричному шифруванні використовується декілька ключів: один 
                            ключ для шифрування, а інший для дешифрування. Ключ шифрування називають 
                            «відкритим ключем», а ключ дешифрування — «закритим ключем».</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div>
            <div>
                <div>
                    <h3>Чому потрібне шифрування даних?</h3><figure class="c-figure c-figure--right">
                        <img src="~/images/encryption-secrion2.jpg" alt="мал2"></figure>
                    <p><strong>Конфіденційність:</strong> лише власник і одержувач можуть читати дані. 
                        Шифрування запобігає перехопленню конфіденційних даних зловмисниками, 
                        інтернет-провайдерами або навіть урядами.</p>
                    <p><strong>Безпека:</strong> шифрування допомагає запобігти витоку даних; 
                        у разі втрати або викрадення корпоративного пристрою із зашифрованим 
                        вмістом його дані залишаться захищеними.</p>
                    <p><strong>Цілісність даних:</strong> шифрування також запобігає зловмисній 
                        діяльності, наприклад перехопленню інформації під час передачі, оскільки 
                        зашифровані дані не можна переглянути або змінити під час передачі.</p>
                    <p><strong>Нормативно-правові акти:</strong> багато галузевих і державних нормативних 
                        документів, як-от HIPAA, PCI-DSS і GDPR, вимагають від компаній шифрувати дані 
                        користувачів. Державні установи та підрядники США повинні використовувати FIPS 
                        (Федеральні стандарти обробки інформації).</p>
                     <h3>Алгоритми шифрування</h3>
                    <p>Алгоритм шифрування — це спосіб перетворення даних у зашифрований текст. 
                       Алгоритм використовує ключ шифрування для послідовного перетворення даних, 
                       тому навіть якщо зашифровані дані виглядають як випадковий набір цифр і букв,
                       їх можна знову перетворити у звичайний текст за допомогою ключа дешифрування. 
                    </p>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="container1">
</div>
@section Scripts{
    <script src="~/js/formUploader.js"></script>
    @*To validate the model on the client*@
    @await Html.PartialAsync("_ValidationScriptsPartial")
}